<div class= "book-title">
<p>Title: <%= @book.title %></p>
</div>
<div class= "book-body">
<p>Body: <%= @book.body %></p>
</div>
<%=link_to 'Edit', edit_book_path(@book.id), method: :get, style: 'color: black' %>|
<%=link_to 'Back', books_path, method: :get, style: 'color: black'%>