<h1>ようこそBookersへ！</h1>

<div class= "book-introduction"><p>Bookersではさまざまな書籍に関するあなたの意見や</p></div>
<div class= "book-introduction"><p>印象を共有し交換することができます</p></div>

<div class= "start-button"><%= link_to 'start', books_path, method: :get, style: 'color: black' %></div>
