/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.book-introduction {
  font-size: 13px;
  padding: 0 33px 33px 33px;
}

.start-button {
  margin-left: 33px;
}

body {
  margin: 33px;
  font-size: 13px;

}

h1 {
  font-size: 26px;
  display: inline-block;
  margin: 17px 0;
}

h2 {
  font-size: 19px;
  display: inline-block;
  margin: 16px 0;
}

table {
  font-size: 13px;
}

.title {
  width: 190px;
}

.body {
  width: 400px;
}

form {
  font-size: 13px;
}

.book-title {
  font-size: 13px;
  padding: 0 33px 33px 33px;
}

.book-body {
  font-size: 13px;
  padding: 0 33px 33px 33px;
}

.error-explanation {
  margin-bottom: 20px;
  padding: 0 1px 1px 1px;
  background-color: red;
  width: 50%;
  height: 130px;
  font-size: 12px;
}

.error-title {
  display: block;
  color: white;
  background-color: red;
  padding: 5px 5px 5px 15px;
  font-weight: bold;
}

.error-box {
  background-color: #f0f0f0;
  height: 125px;
}

ul {
  margin: 33px;
  padding-left: 40px;
}

.new-book-title {
  margin-bottom: 20px;
}

.new-book-body {
  margin-bottom: 20px;
}

.submit-button {
  margin-bottom: 10px;
}

.label-error {
  display: inline-block;
  background-color: red;
  font-size: 13px;
}

.text-field-title {
  padding: 2px;
  background-color: red;
  width: 174px;
  height: 25px;
}

.text-field-body {
  padding: 2px;
  background-color: red;
  width: 174px;
  height: 30px;
}

.show-book-title {
  margin: 33px;
}

.show-book-body {
  margin: 33px;
}

.edit-book-title {
  margin-bottom: 10px;
}

.edit-book-body {
  margin-bottom: 10px;
}

.edit-button {
  margin-bottom: 10px;
}

.flash-message {
  margin: 33px;
  color: green;
}